#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
.staffs li{
	list-style: none;
	opacity: .9;
	-webkit-trasition: all 0.3s ease-out;
	-moz-trasition: all 0.3s ease-out;
	-o-trasition: all 0.3s ease-out;
	trasition: all 0.3s ease-out;
}

.staffs li:hover{
	list-style: none;
    font-weight: 110%;
	opacity: 1;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);

}
.container-fluid{
    background-color: #5f5f5f;
    color:white;
}
select{
    color:#5f5f5f;
}
option:not(:checked) {
    background-color: white; 
    color:#000;
}
.glyphicon .glyphicon-star{
    cursor: pointer;
}