<!doctype html>
<html ng-app="MyApp">
	<head>
		<title>Search a RSS Feed </title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="static/js/app.js" > </script>
		<link rel="stylesheet" href="static/css/style.css">
	</head>
	<body ng-controller="MyController">

<div class="container-fluid">
    <div class="container">
	<div class="row">
        <div class="col-md-9">
    		<h2>BBC News RSS Feed</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" ng-model="query" class="form-control input-lg" placeholder="Search for articles" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
     
                </div>
            </div>

            <br/>

            Order By:<select ng-model="orderSelect" class="selectpicker">
	                    <option value="pubDate">Publication Date</option>
	                    <option value="title">Title</option>
                    </select>

            <label class="formgroup"><input type="radio" name="direction" ng-model="direction" value="reverse" >DECENDING</label>
            <label class="formgroup"><input type="radio" name="direction" ng-model="direction"  checked >ASCENDING</label>

            <br/>

        </div>
        <br/>

	</div>
</div>
</div>
    <br/>
    <br/>
<div class="container">
    <div class="row">
     <div class="col-md-9">
<ul class="list-group row">
             <li class="list-group-item col-xs-3" ng-repeat=" article in articles | filter:query | orderBy:orderSelect:direction:reverse  ">

                  <div class="panel  panel-default">
                      <div class="panel-heading">
                          <h5 class="h5"><a href="{{article.link|angular}}" >{{article.title|angular}}</a> &nbsp;
                              <div ng-click="addToFav(article)" id="{{article.id|angular}}" class="{{article.myClass|angular}}" ng-model="myClass"/> </div></h5>
                      </div>
                      <div class="panel-body">
                         <img class="img img-responsive img-thumbnail" src="{{article.image|angular}}" />
                         {{article.description |angular}} <br/>
                      </div>
                      <div class="panel-footer">{{article.pubDate|angular}}
                      </div>

                  </div>
                 <br/>
             </li>
</ul>

        </div>
    </div>
</div>
	</body>
</html>